body {
    background-color: #e3c9b2;
    background-image: url('https://placehold.co/50x50/cccccc/000000?text=LOGO');
    background-repeat: no-repeat;
    background-position: top right;
    font-family: 'Pacifico', cursive;
    color: #333;
    margin: 20px;
    letter-spacing: 5px;
  }

.logo{
    color: #355e3b;
}
.logo span{
    color: #d28a6e;
}
.span{
    color: rgb(47, 18, 18);
}
.navbar{
    width: 90%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{

    text-decoration: none;
    color: #355e3b;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 23px;
}
.navbar ul li::after{
    content: '';
    height: 5px;
    width: 0;
    background: #d28a6e;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after{
    width: 100%;
}

  h1 {
    text-align: center;
    color: #5a3e36;
  }

  form {
    background-color: #5a3e36;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    font-size: 20px;
  }
legend{
    color: #c0c0c0;
    font-size: 25px;
}
label{
    color: #c0c0c0;
    font-size: 20px;
}
  fieldset {
    margin-bottom: 20px;
    border: 3px solid #ccc;
    padding: 15px;
    border-radius: 8px;
  }

  legend {
    font-weight: bold;
    padding: 0 10px;
  }

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: #f5f5f5;
    letter-spacing: 3px;
  }
  select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: transparent;
    color: #f5f5f5;
    letter-spacing: 3px;
  }
option{
    background: #0a0a23;
}
  textarea {
    resize: vertical;
  }

  .buttons {
    margin-top: 15px;
  }

  .buttons input {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
  }

  input[type="submit"] {
    background-color: #3498db;
    color: #fff;
  }

  input[type="reset"] {
    background-color: #e74c3c;
    color: #fff;
  }

  table {
    font-size: 30px;
    width: 80%;
    margin: 30px auto;
    border-collapse: collapse;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-collapse: collapse;
    border: 4px solid #0a0a23;
  }

  caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
  }

  th, td {
    border: 3px solid #d28a6e;
    padding: 10px;
    text-align: center;
    color: #355e3b;
  }

  thead {
    background-color: #7b6728;
  }

  tbody tr:nth-child(odd) {
    background: linear-gradient(to right, #f8f8f8, #e3c9b2);
  }

  tbody tr:nth-child(even) {
    background: linear-gradient(to right, #f8f8f8, #e3c9b2);
  }
tbody tr{
    background: linear-gradient(to right, #13867c, #c0c0c0);
      }

  tfoot td {
    font-style: italic;
    text-align: center;
    background-color: #dcdcdc;
  }

  img.product-icon {
    display: block;
    margin: 10px auto;
    width: 300px;
  }
  .profile{
    display: inline-block;
    display: flex;
    align-items: center;
    padding: 50px;
    padding-left: 10%;
    animation: bounce 2s infinite ease-in-out;
}

  .profile img{

    width: 200px;
    height: 200px;
    margin-top: 20px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #0a0a23;

}
.profile h1{
    padding: 30px;
}
